{
  "target-os": "",
  "target-cpu": "",
  "gnArgs": {
    "backend": "",
    "is-clang": false,
    "is-component": false,
    "is-debug": false
  },
  "logging": {
    "level": "",
    "file": ""
  },
  "archive-server": {
    "host": "",
    "dir": "",
    "ssh-user": ""
  },
  "email-service":{
    "user": "",
    "host": "",
    "from": "",
    "to": ""
  }
}
